.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
}

.navbar h5 {
  color: #7d7d7d;
  font-size: 12px;
  cursor: pointer;
}

.art-slide {
  margin: 1em;
}

.art-container {
  position: relative;
  text-align: center;
}

.art-img {
  width: 100%;
}

.art-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.title-container {
  position: absolute;
  padding: 1em 1.7em;
  background-color: #fff;
  line-height: 0;
  width: 350px;
  top: 460px;
}

.art-title {
  font-size: 1.7rem;
  padding-bottom: 0.5em;
}

.art-artist {
  color: #7d7d7d;
}

.artist {
  margin: 4em 1em 1em 1em;
  align-self: flex-end;
}

.date {
  text-align: right;
  font-size: 110px;
  line-height: 20px;
  margin: 0;
  opacity: 0.05;
}

.desc {
  padding: 0 1em;
  color: #7d7d7d;
  line-height: 3;
  font-size: 14px;
}

.link-container {
  margin: 3em 1em;
}

.link {
  color: #7d7d7d;
  font-size: 12px;
}

.el-footer {
  margin: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player {
  display: flex;
  gap: 20px;
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .responsive {
    display: flex;
    align-items: center;
  }
  .title-container {
    top: 120px;
    right: 0;
  }
  .art-btn {
    top: 390px;
  }
  .date {
    text-align: left;
    margin: 0.5em 0.2em 0 0;
  }
}

/* Desktop */

@media screen and (min-width: 1024px) {
  .art-slide {
    display: flex;
    justify-content: space-evenly;
  }
  .desc {
    margin: 10em 1em;
    max-width: 400px;
    padding-right: 6em;
  }
  .art-title {
    line-height: 1;
    font-size: 4rem;
  }
  .date {
    position: absolute;
    top: 220px;
    right: 100px;
    font-size: 180px;
  }
  .title-container {
    top: 120px;
    left: 470px;
  }

  .art-btn {
    top: 810px;
  }

  .el-footer {
    margin: 0 3em;
  }
}
